
<div id="hi" class="section" data-is-active="true">
        <div class="hi-content">

            <h1 class="animated rotateInDownLeft"><span style="color:#E53A40;" class="nedim bold">Sqript</span>&nbsp;<span class="arabaci bold" style="color:#E53A40;" >Team</span></h1>

            <p>
                We're <span style="color:#E53A40;" class="develop bold">develop</span>ers who <span class="love bold" style="color:#E53A40;" >likes</span> to get our <span class="source bold" style="color:#E53A40;" >hands dirty!</span>
            </p>

            <div class="info animated bounceInRight" id="textgo">
                This is our first project.<span class="web-development bold" style="color:#E53A40;" >&nbsp; We're open</span>
                 to <span class="years bold" style="color:#E53A40;" >collaboration</span>.
                 <br/>Contact us @ <b style="color:#E53A40;">sqriptteam@outlook.com</b><br/>&nbsp;We're comprised of&nbsp;
                a <span class="frontend bold">designer</span>, <span class="backend bold">a front & back-end developer.</span> <br/>
                &nbsp;<br/><quote>"Design is not just what it looks like and feels like. Design is how it works."</quote><br/>
                <text> ~ Steve Jobs.
            </div>









          <%= link_to "Back to DiscoverPC", home_index_path, method: :get ,class: "take-a-look" %>














        </div>
</div>
